/* CSS Document */
/* jfas.less */
/* style for filters at left of home page */
/* * * * * HOME PAGE * * * * * */
/* FILTER */
/* home filter is an overlay */
/* position is based on navbar height excluding margin, determined by inspecting properties of the navbar */
/* * * * * HEADER and Filter-FilerText-ColumnHeadings (FCH) * * * * */
/* be sure jfasHeaderTitle height takes up enough room to have the overlay for Filtertext and ColumnHeadings */
/* fudge - adjust so that the filter text comes all the way up toe the bottom of the Page Title */
/* leave room for overlays for filtertext and columnHeadings */
/* Detail Page. This is the with of the detailSurround div, which is centered */
.bodyHomeStyle {
  min-width: 800px;
  padding-top: 0;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #073053;
}
.bodyDetailStyle {
  min-width: 986px;
  padding-top: 0;
  margin: 0;
  padding-bottom: 30px;
  background-color: #073053;
  line-height: 1.428571429;
}
/* this div centers the home page */
.HomeSurround {
  width: 990px;
  margin: 0 auto;
  max-width: none !important;
}
/* * * * * * Next section is to disable the responsiveness of the navbar * * * * * */
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* An "!important" declaration (the delimiter token "!" and keyword "important" follow the declaration) takes precedence over a normal declaration. Both author and user style sheets may contain "!important" declarations, and user "!important" rules override author "!important" rules. This CSS feature improves accessibility of documents by giving users with special requirements (large fonts, color combinations, etc.) control over presentation.

Declaring a shorthand property (e.g., 'background') to be "!important" is equivalent to declaring all of its sub-properties to be "!important".  */
/* Reset the container */
.container {
  max-width: none !important;
}
/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #073053;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/* * * * * * * * * * * END OF OVERRIDE RESPONSIVE navbar * * * * * * * * * */
#SessionAnnouncement {
  display: none;
  position: absolute;
  height: 500px;
  width: 450px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: .9em;
  padding: 3px 7px 7px 10px;
  float: left;
  background-color: #f7f7f7;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 25px 5px #073053;
  border: 2px solid black;
}
#SessionAnnouncement .titlebar {
  width: 100%;
  height: 20px;
  padding: 0 0 8px 0;
}
#SessionAnnouncement .titlebar .title {
  font-size: 1.2em;
  font-weight: bold;
  color: #4a6a87;
  float: left;
  padding: 10px 0 0 0;
}
#SessionAnnouncement .titlebar .btnTitleBar {
  float: right;
  background-color: transparent;
  border: 0;
}
.table100 {
  width: 100%;
  background-color: #073053;
  margin: 0 auto;
  padding: 0;
  box-sizing: 0;
  border-spacing: 0;
}
.btn_pri_nav {
  height: 20px;
  width: 100px;
  margin-right: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0px outset buttonface   !important;
  border-right: 1px solid black !important;
  background: transparent;
}
.btn_pri_nav_gray {
  background-color: #d9d9d9;
}
/* * * * * * * * * * FilterandColumnHeadings * * * * * * * * * * * */
#FilterandColumnHeadings {
  z-index: 20;
  position: fixed;
  top: 105px;
  width: 990px;
}
#idFilterText {
  z-index: 20;
  position: fixed;
  top: 105px;
  height: 30px;
  width: 795px;
  margin-left: 195px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: .9em;
  padding: 0;
  background: white;
  float: left;
}
#idFilterText a {
  color: #d9d9d9;
  background-color: white;
}
#idFilterText a:visited {
  color: #d9d9d9;
  background-color: white;
}
.filterTextImg {
  margin: 0 0 0px 2px;
  width: 16px;
  height: 16px;
}
.ColumnHeadings {
  z-index: 20;
  position: fixed;
  top: 135px;
  width: 990px;
  height: 20px;
  width: 795px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  float: left;
  clear: left;
  margin-left: 195px;
}
/* ORIGINAL
.datepicker {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 40%;
}

.ui-datepicker { width: 14em; padding: .2em .2em 0; display: none; }
.ui-datepicker table {width: 100%; font-size: .7em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker .ui-datepicker-title select {font-size: .6em;}
.ui-datepicker-trigger {margin: 0 0 0 .2em}
END OF COMMENT OUT ORIGINAL ****/
.datepicker {
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 60%;
}
.datepicker .ui-icon {
  width: 10px;
  height: 10px;
}
/* width here is the most important setting for the width of the overall calendar. It is the width of a date button.  Also this line controls padding around each date button, title bar - within the overall calendar */
.ui-datepicker {
  width: 12.5em;
  padding: .1em .1em 0;
  display: none;
}
/* controls the font size of each date */
.ui-datepicker table {
  width: 100%;
  font-size: .7em;
  border-collapse: collapse;
  margin: 0 0 .8em;
}
/* controls text size in month and year dropdowns */
.ui-datepicker .ui-datepicker-title select {
  font-size: .65em;
}
/* controls spacing around the calendar icon */
.ui-datepicker-trigger {
  padding: 0 0 0 0.2em;
}
/************ No Filter Tab *****************/
.homeNoFilter {
  /* position is based on navbar height excluding margin, devermined by inspecting properties of the navbar */
  position: fixed;
  top: 105px;
  height: 30px;
  width: 35px;
  overflow-y: none;
  z-index: 20;
  float: left;
  padding: 0;
  background-color: white;
  visibility: visible;
}
.ImgOnFilterTab {
  border: 0;
  padding: 0;
  width: 23px;
  height: 20px;
}
.ImgOnPriNav {
  border: 0;
  padding: 0;
  width: 22px;
  height: 21px;
}
.noFilterBtn {
  border: 0;
  margin: 0 6px 0 2px;
  width: 16px;
  height: 16px;
}
/************ homeFilter tab *****************/
/* this OVERLAYS the main table, NOT in the banner */
.homeFilter {
  /* position is based on navbar height excluding margin, devermined by inspecting properties of the navbar */
  position: absolute;
  top: 0px;
  height: 400px;
  width: 195px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 20;
  float: left;
  margin: 0;
  padding: 5px 0px 5px 6px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  color: black;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  visibility: visible;
}
.homeFilterGuts {
  width: 177px;
}
#home_filterSearchWord {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: normal;
  width: 110px;
  /* vertical-align: middle; */
  /* text-align: left; */
}
.home_filterSearchWordActive {
  background-color: #ffffaa;
}
.home_filterDate {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: normal;
  width: 80px;
  margin: 4px 4px 1px 6px;
  /* vertical-align: middle; */
  /* text-align: left; */
}
.btnApplyFilter {
  margin-left: 10px;
}
.filterRadioSetBanner {
  background-color: #5e84a6;
  color: white;
  height: 22px;
  width: 177px;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  padding: 3px 0 3px 13px;
  margin: 0 0 6px 0;
}
.filterRadioSetBanner:hover {
  background-color: #7f9db8;
}
input[type="checkbox"] {
  margin: 0;
}
.filterRadioLabel {
  font-weight: normal;
  line-height: 80%;
  font-size: 11px;
}
.filterKeyword {
  text-align: right;
  padding-right: 0px;
  padding-bottom: 0px;
}
.filterSelector {
  font-size: .9em;
}
/*******   Header  ***********/
/* style for fixing the header at the top of the page */
.HeaderDiv {
  z-index: 20;
  position: fixed;
  top: 0px;
  height: 110px;
  width: 990px;
  margin: 0 auto;
  background-color: white;
}
/* Header styles - assigned within the td tags of the header table */
/* class for tr td on left of hdrBg (little spacer) */
.headerTopL {
  background-image: url(images/cnr_topL.gif);
  background-position: top left;
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
}
/* class for tr td on right of hdrBg (little spacer) */
.headerTopR {
  /* background-image: 			url(images/cnr_topR.gif); */
  background-position: top right;
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
}
.headerSideL {
  background-color: #bbc9d9;
  width: 5px;
}
.headerSideR {
  background-color: #aec1d2;
  width: 5px;
}
/* The banner is WITHIN HeaderDiv.  It contains logo, quick search controls */
.banner {
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #aec1d2;
  height: 57px;
  width: 100%;
  float: top;
}
/* for displaying line of links in top banner */
.bannerLogo {
  width: 200px;
  float: left;
  padding: 8px 0 3px 10px;
}
/* Image padding styles for JFAS logo and header txt - assigned inside the img tag*/
.logoJFAS {
  padding: 0px 0px 0px 0px;
}
.headerTxtJFAS {
  padding: 0px 8px 0px 3px;
}
#bannerRightofLogo {
  float: right;
  width: 500px;
  text-align: right;
  padding: 5px 5px 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  color: #565656;
}
#bannerRightofLogoDetail {
  float: right;
  width: 500px;
  text-align: right;
  padding: 5px 5px 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .78em;
  color: #565656;
}
.bannerLogoutNav {
  box-sizing: border-box;
}
.bannerLogoutNav a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  background: transparent;
}
.bannerLogoutNav a:hover {
  color: black;
  background-color: white;
}
/* Style for Quick Search - affects both Home and Detail pages */
.divQuickSearch {
  /* required to push quick search to right of primary navigation */
  float: right;
  width: 500px;
  vertical-align: top;
  text-align: right;
  padding: 2px 5px 2px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
}
.divQuickSearch a,
.divSearch a:visited {
  color: #000000;
  background-color: transparent;
}
.divQuickSearch input,
.divSearch select {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: normal;
  /* vertical-align: middle; */
  /* text-align: left; */
}
/************ Primary Nav styles *****************/
.PriNavDiv {
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  width: 100%;
}
.PriNavDivLeft {
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 82%;
}
.PriNavDivRight {
  float: right;
  height: 100%;
  margin: 0;
  padding: 0 18px 0 0;
  width: 12%;
  text-align: right;
}
/* Id tag used for PriNav ul tag */
#PriNav {
  margin: 0;
  padding: 0;
  float: left;
  text-align: left;
}
#PriNav ul {
  list-style-type: none;
}
#PriNav li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
  white-space: nowrap;
}
#PriNav a {
  text-decoration: none;
  float: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #939393;
  border-right: 1px solid #cbcbcb;
  line-height: 28px;
}
#PriNav a:hover {
  background-color: #565656;
}
#PriNav #current a {
  background-color: #565656;
  color: #FFFFFF;
  text-decoration: none;
}
.PriNavBackgroundColor {
  background-color: #e6e6e6;
}
btn-default .caret {
  border-top-color: #333333;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
}
/************ Primary Navigation Sub Menu (e.g. newAAPP dropdown Form) *****************/
/* this OVERLAYS the title text, filter text, column headings, and main table, NOT in the banner */
.TopMessage {
  z-index: 20;
  /* position is based on navbar height excluding margin, determined by inspecting properties of the navbar */
  position: fixed;
  top: 82px;
  overflow-y: none;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  background-color: #eeeeee;
  padding: 0px 5px 5px 5px;
  margin: 0;
  visibility: visible;
}
.TopMessage a {
  /* override bootstrap, for first line by carat to close form */
  color: #073053;
  text-decoration: none;
  font-weight: normal;
  background-color: #eeeeee;
}
.TopMessage a:hover {
  background-color: #d9d9d9;
}
.TopMessage ul {
  list-style-type: none;
  padding: 5px 5px 5px 5px;
}
.TopMessage li {
  text-align: left;
  margin: 0;
}
.inline-caret {
  display: inline;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.MyAAPPs {
  margin-left: 300px;
  height: 10px;
  width: 110px;
}
.MyFilters {
  margin-left: 400px;
  height: 10px;
  width: 400px;
}
.MyFiltersTable {
  width: 100%;
  margin: 0 0 0 10px;
}
.NameOneFilter {
  margin-left: 400px;
  padding: 10px 0 0 5px;
  height: 125px;
  width: 370px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #333333;
}
.NameOneFilter input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
}
.HomePageOptions {
  margin-left: 780px;
  z-index: 20;
  height: 70px;
  width: 200px;
}
.AAPPPageOptions {
  margin-left: 836px;
  z-index: 20;
  position: absolute;
  height: 30px;
  width: 130px;
}
.AAPPGraphOptions {
  margin-left: 836px;
  z-index: 20;
  position: absolute;
  height: 30px;
  width: 130px;
}
.NameOneFilterDuplicate {
  margin-left: 407px;
  height: 110px;
  width: 400px;
}
#btnNewAAPP .NewAAPP {
  margin-left: 500px;
  height: 43px;
  width: 160px;
  border-right: 0  !important;
}
#idNameOneFilterDuplicate {
  visibility: hidden;
}
#jfasHeaderTitle {
  z-index: 20;
  height: 30px;
  width: 100%;
  padding: 3px 0 3px 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}
.clear {
  clear: both;
}
fieldset {
  border: none;
  margin-bottom: -1.5em;
}
/* * * * * * * * * * * * * style for scolling area * * * * * * * * * * * * * */
.lowerContainer {
  background-color: #073053;
  width: 990px;
  margin-left: 0;
}
.ScrollingArea {
  margin-top: 160px;
  margin-left: 195px;
  width: 795px;
  overflow-y: none;
}
/* THIS IS ONLY FOR THE AAPP LISTING ON THE HOME PAGE*/
.AAPPHomeTbl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  width: 100%;
  border: 0;
  cellspacing: 0;
  cellpadding: 0;
  box-sizing: 0;
}
.AAPPHomeTbl th {
  background-color: #5e84a6;
  color: #d7e0e9;
  font-weight: normal;
  text-align: left;
  padding: 0px;
}
.AAPPHomeTbl th a {
  color: #d7e0e9;
  background-color: transparent;
}
.AAPPHomeTbl th a:visited {
  color: #d7e0e9;
  background-color: transparent;
}
.AAPPHomeTbl td {
  background-color: #FFFFFF;
  text-align: left;
  padding: 2px;
}
.AAPPHomeTbl td a {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.AAPPHomeTbl td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.AAPPHomeTbl td.DataTitle {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: .8em;
  padding: 10px 10px 10px 30px;
  background: #d9d9d9;
}
.AAPPHomeTbl td.DataTitle a {
  color: white;
  background-color: #d9d9d9;
}
.AAPPHomeTbl td.DataTitle a:visited {
  color: white;
  background-color: #d9d9d9;
}
.AAPPSpacer {
  background-color: white;
  padding: 60px 0 60px 0;
  text-align: center;
}
/********** Content Area Classes *************/
/* these are for DETAIL pages, NOT Home page */
/* this div centers the detail page page */
.detailSurround {
  width: 986px;
  margin: 0 auto;
  max-width: none !important;
}
/* Controls font attributes for all text in the content area that is NOT in a data table */
.ctrContent {
  background-color: white;
  border-bottom: 3px solid #859db3;
  padding: 10px 10px 2px 10px;
  width: 966px;
}
.ctrContent p,
.ctrContent div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  color: #000000;
  padding: 2px 10px 2px 0px;
}
.ctrContent input,
.ctrContent select {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: normal;
  vertical-align: middle;
}
.ctrContent textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: normal;
  vertical-align: middle;
}
.ctrContent label {
  font-size: 1em;
  font-weight: bold;
  color: #565656;
  background-color: transparent;
}
legend {
  margin-right: -0.4em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1em;
}
/* Heading classes */
/* H1 is always used for page header */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* H2 used for sub headings like on the Admin page or in the AAPP sub-nav structure */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* Futher Sub-heading used in AAPP sub-nav structure */
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 10px;
}
h1 a,
h2 a,
h3 a {
  color: #073053;
}
/* Class for required fields, alert messages, etc. - assign in p tag, div tag, td tag */
p.required,
div.required,
td.required {
  color: #8c1736;
}
/* Class for info located directly under AAPP # in the h1 tag - assign class in p tag */
.contractInfo {
  margin-top: -7px;
}
.btnRight {
  margin-top: -30px;
  float: right;
  margin-bottom: 10px;
  text-align: right;
}
.btnLeft {
  margin-top: -30px;
  float: left;
  margin-bottom: -7px;
  text-align: left;
}
/* Classes for data displaying in a data table with Alternating Rows - assign overall class to table, no other style associations needed */
/* THIS IS FOR TABLES ON DETAIL PAGES */
.dataTbl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  width: 100%;
  border: 0;
  cellspacing: 0;
  cellpadding: 0;
}
.dataTbl th {
  font-size: .90em;
  background-color: #5e84a6;
  color: #d7e0e9;
  font-weight: bold;
  text-align: left;
  padding: 2px;
}
.dataTbl th a {
  color: #d7e0e9;
  background-color: transparent;
}
.dataTbl th a:visited {
  color: #d7e0e9;
  background-color: transparent;
}
.dataTbl td {
  background-color: #FFFFFF;
  padding: 4px;
}
.dataTbl td a {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.dataTbl td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.dataTbl td.DataTitle {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: .8em;
  padding: 10px 10px 10px 30px;
  background: #d9d9d9;
}
.dataTbl td.DataTitle a {
  color: white;
  background-color: #d9d9d9;
}
.dataTbl td.DataTitle a:visited {
  color: white;
  background-color: #d9d9d9;
}
/* Class for alternating row color - assign in tr tag */
.AltRow td {
  background-color: #e7edf3;
}
.HighlightRow td {
  background-color: #FFFFCC;
}
/* Classes for data displaying in a data table with Alternating Columns - assign overall class to table, no other style associations needed */
.dataTblCol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
}
.dataTblCol th {
  background-color: #5e84a6;
  color: #d7e0e9;
  font-weight: bold;
  text-align: right;
  padding: 6px 3px 6px 3px;
}
.dataTblCol th a,
.dataTbl th a:visited {
  color: #d7e0e9;
  background-color: transparent;
}
.dataTblCol td {
  background-color: #FFFFFF;
  padding: 3px 3px 6px 3px;
  text-align: right;
}
.dataTblCol td a,
.dataTblCol td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.dataTblCol input {
  text-align: right;
  width: 68px;
}
/* Class for alternating row color - assign in tr tag */
td.AltCol {
  background-color: #e7edf3;
}
/* Class for creating a horizontal rule in a table - assign in td tag with colspan across all columns in table to create 1 cell */
/* changed by MDS - made line thinner */
td.hrule {
  background-image: url(images/clear.gif);
  background-color: #073053;
  background-repeat: repeat-x;
  height: 1px;
  padding: 0;
}
/* MDS added */
.inputReadonly {
  border: 1px solid #999999 !important;
  background-color: transparent !important;
  color: #4d4d4d !important;
}
.inputEditable {
  border: 2px inset #ffffff !important;
  background-color: #ffffff !important;
}
/* RCR added */
/* belldr changed background-color to transparent 11/13/2014 */
.btnDisabled {
  color: #999999;
  background-color: transparent;
}
/* Classes for page numbers for data tables */
.ctrPageNum {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  font-weight: normal;
  color: #939393;
  background-color: transparent;
  padding-right: 10px;
  padding-left: 10px;
}
.ctrPageNum a {
  color: #939393;
  background-color: transparent;
}
/* Classes for formatting table, no row or column colors - assign overall class to table, no other style associations needed */
.contentTbl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
}
.contentTbl th {
  background-color: #5e84a6;
  color: #d7e0e9;
  font-weight: bold;
  text-align: center;
  padding: 6px 3px 6px 3px;
}
.contentTbl td {
  /*background-color: #FFFFFF;*/
  padding: 6px 3px 6px 3px;
}
.contentTbl td a {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.contentTbl td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.contentTbl input {
  /*text-align: right;
		width: 68px;*/
}
.contentTbl label {
  font-weight: normal;
  color: #000000;
  background-color: transparent;
}
/* Classes for formatting table, just labels and data, no form fields, columns */
.readOnlyDataTbl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
}
.readOnlyDataTbl th {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  border-bottom: solid 1px #999999;
  padding: 3px 1px 1px 1px;
}
.readOnlyDataTbl td {
  padding: 1px 1px 1px 1px;
}
.readOnlyDataTbl td a {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.readOnlyDataTbl td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
/* MDS ADDED - use for labels that should not appear on the page (eg: workload, contract input) */
.hiddenLabel {
  position: absolute;
  left: 0px;
  top: -100px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* MDS added */
td.hrule {
  background-image: url(images/clear.gif);
  background-color: #999999;
  background-repeat: repeat-x;
  height: 1px;
  padding: 0;
}
.errorList {
  background-color: #FFCCCC;
  border: 1px solid #668566;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  color: #000000;
  padding-left: 10px;
}
.errorField {
  background-color: #FFCCCC;
}
.confirmList {
  background-color: #CCFFCC;
  border: 1px solid #668566;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  color: #000000;
  padding-left: 10px;
}
/* Class for aligning a group of buttons to the right - assign in div tag */
.buttons {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0px;
}
/* Sub Navigation classes */
/* The sub navigation is constructed inside a table - this first class is assigned in the tr tag for the row */
.ctrSubNav td {
  position: relative;
}
/* Id tag used for Sub Nav ul tag */
#SubNav {
  margin: 0;
  padding: 0;
}
/* All Sub Nav elements are in an li tag and are links - no other class assigning necessary */
#SubNav li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
  white-space: nowrap;
}
#SubNav a {
  text-decoration: none;
  float: left;
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #aec1d2;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  line-height: 28px;
}
#SubNav a:hover {
  color: #d7e0e9;
  background-color: #073053;
  border-bottom: 1px solid #073053;
}
#SubNav #current2 a {
  color: #d7e0e9;
  background-color: #073053;
  border-bottom: 1px solid #073053;
}
/* Third Level Navigation classes */
/* The third level navigation is constructed inside the same table as the secondary nav - this first class is assigned in the tr tag for the row */
.ctrTerNav td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  font-weight: bold;
  color: #cbcbcb;
  padding: 6px 0 6px 50px;
  background-color: #073053;
  text-align: center;
  line-height: 16px;
}
/* the following classes assign the colors to the links - no additional class needed except to show the current state - assign that in the a tag */
.ctrTerNav a {
  color: #CBCBCB;
  background-color: #073053;
  text-decoration: none;
}
.ctrTerNav a:hover {
  color: #FFFFFF;
  background-color: #073053;
}
a.current {
  color: #FFFFFF;
  background-color: #073053;
}
/* Sub Navigation and Detail table classes */
div.ctrSubContent {
  border: 1px solid #073053;
  border-top: none;
  padding: 10px;
  font-size: .95em;
  position: relative;
}
div.ctrSubContent td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: #000000;
}
div.ctrSubContent th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05em;
  color: black;
}
/* Footer classes */
/* footer is in the scrolling area, but not in AAPPHomeTbl */
.homeFooter {
  float: left;
  height: 50px;
  width: 791px;
  margin-left: 0;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #859db3;
  background: #073053;
}
#idFooter {
  margin-left: 0;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #859db3;
  background: #073053;
}
.FooterL {
  width: 370px;
  padding-top: 4px;
  float: left;
}
.FooterR {
  text-align: right;
  margin-left: 370px;
}
.FooterL a,
.FooterL a:visited,
.FooterR a,
.FooterR a:visited {
  color: #859db3;
  font-weight: bold;
}
.FtrBtmL {
  background-image: url(images/cnr_btmL.gif);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  height: 4px;
  width: 100px;
}
.FtrBtmR {
  background-image: url(images/cnr_btmR.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  height: 4px;
  margin-top: -4px;
  margin-left: 100px;
}
/*
Styles for Tooltips
*/
#tt {
  position: absolute;
  display: block;
}
#ttcont {
  display: block;
  font: verdana;
  padding: 2px 12px 3px 7px;
  margin-left: 5px;
  color: #000000;
  border-style: solid;
  border-width: 1px;
  border-color: #FFCC99;
  background: #FFFFCC;
}
/*
The following classess for adhoc reports
sets color,  font and border for the intro table that describes the form, place in table tag
*/
.FormDesc {
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #666666;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
/* sets color,  font and border for the intro table that describes the ad hoc form, place in table tag  */
.adHocFormDesc {
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #666666;
  padding-bottom: 15px;
}
.formTable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #666666;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
/* sets new font size for header within form description table, place in h1 tag  */
.formDescH1 {
  font-size: 1.2em;
  line-height: normal;
  color: #003867;
}
.formDescH2 {
  font-size: 1.2em;
  line-height: .1em;
  color: #003867;
  font-weight: normal;
}
/* sets color and font for form wizard step number, place in td tag  */
.StepNumber {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #003867;
}
.formbutton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  padding: none;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  border-left-color: #ffffff;
  border-top-color: #ffffff;
}
.ValidationTable {
  background-color: #FFCCCC;
  color: #000000;
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
/* sets color,  font and border for Form tables, place in table tag  */
.FormTable_line {
  background-color: #e7edf3;
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #666666;
}
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #333333;
}
.criteriaCellDisplay {
  font-size: 1.0em;
}
/* sets color, padding, font and border for far column header for reports - place in th tag  */
.report_hdr {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  font-weight: normal;
  text-align: center;
  color: #000000;
  background-color: #cccccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}
/* sets color, padding, font and border forthe middle columns of text in the app/grant listings table, place in td tag  */
.report_datarow {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: left;
  color: #5B5B5B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  padding-right: 3px;
}
.report_datarow_right {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: right;
  color: #5B5B5B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  padding-right: 3px;
}
.report_datarow_brdrright {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: center;
  color: #5B5B5B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #cccccc;
  padding-right: 3px;
}
.report_totalrow {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  text-align: right;
  color: #5B5B5B;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  padding-right: 3px;
}
