/* CSS Document */
/* jfas.less */
/* style for filters at left of home page */
/* home filter is an overlay */
/* position is based on navbar height excluding margin, devermined by inspecting properties of the navbar */
/* container INCLUDES the nav area */
/* leave room for vertical scrolling bar */
/* be sure jfasHeaderTitle height takes up enough room to have the overlay for Filtertext and ColumnHeadings */
/* fudge ??? */
/* leave room for overlays for filtertext and columnHeadings */
/* this adjusts top of scrolling area in the detail body to be just below the navbar.
The fudge factor for bootstrap is determined empirically */
.bodyHomeStyle {
  margin: 5px;
  /* to leave room for the bootstrap navbar */
  padding-top: 108px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.bodyDetailStyle {
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #073053;
}
/* An "!important" declaration (the delimiter token "!" and keyword "important" follow the declaration) takes precedence over a normal declaration. Both author and user style sheets may contain "!important" declarations, and user "!important" rules override author "!important" rules. This CSS feature improves accessibility of documents by giving users with special requirements (large fonts, color combinations, etc.) control over presentation.

Declaring a shorthand property (e.g., 'background') to be "!important" is equivalent to declaring all of its sub-properties to be "!important".  */
/* Reset the container */
.container {
  margin: 0 auto;
  max-width: none !important;
  width: 762px;
}
.table100 {
  width: 100%;
  background-color: #073053;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.btn_pri_nav {
  height: 20px;
  width: 100px;
  margin-right: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.btn_pri_nav_gray {
  background-color: #d9d9d9;
}
/************ No Filter Tab *****************/
.homeNoFilter {
  /* position is based on navbar height excluding margin, devermined by inspecting properties of the navbar */
  position: absolute;
  top: 112px;
  height: 500px;
  width: 35px;
  overflow-y: none;
  z-index: 20;
  float: left;
  padding: 5px 0px 5px 0px;
  background-color: #ffffff;
  visibility: hidden;
}
/************ homeFilter tab *****************/
/* this OVERLAYS the main table, NOT in the banner */
/* use nesting from less compiler */
.homeFilter {
  /* position is based on navbar height excluding margin, devermined by inspecting properties of the navbar */
  position: absolute;
  top: 112px;
  height: 500px;
  width: 195px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 20;
  float: left;
  margin: 0;
  padding: 5px 0px 5px 0px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  color: black;
  /* visibility would be hidden if implementing homeNoFilter */
  visibility: visible;
}
.homeFilterGuts {
  width: 177px;
}
#home_filterSearchWord {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: normal;
  width: 110px;
  /* vertical-align: middle; */
  /* text-align: left; */
}
.home_filterDate {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: normal;
  width: 80px;
  margin: 4px 4px 1px 6px;
  /* vertical-align: middle; */
  /* text-align: left; */
}
.btnApplyFilter {
  margin-left: 10px;
}
#btnUndockFilter {
  visibility: hidden;
}
/* use nesting from less compiler */
.filterRadioSetBanner {
  background-color: #5e84a6;
  color: white;
  height: 22px;
  width: 177px;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  padding: 3px 0 3px 13px;
}
.filterRadioSetBanner:hover {
  background-color: #7f9db8;
}
input[type="checkbox"] {
  margin: 0;
}
.filterRadioLabel {
  font-weight: normal;
  line-height: 80%;
  font-size: 11px;
}
.filterKeyword {
  text-align: right;
  padding-right: 0px;
  padding-bottom: 0px;
}
.filterSelector {
  font-size: .9em;
}
/*******   Header  ***********/
/* style for fixing the header at the top of the page */
.headerDiv {
  top: 5px;
  height: 105px;
  width: 100%;
  background-color: white;
}
/* Header styles - assigned within the td tags of the header table */
/* class for tr td on left of hdrBg (little spacer) */
.headerTopL {
  background-image: url(images/cnr_topL.gif);
  background-position: top left;
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
}
/* class for tr td on right of hdrBg (little spacer) */
.headerTopR {
  /* background-image: 			url(images/cnr_topR.gif); */
  background-position: top right;
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
}
.headerSideL {
  background-color: #bbc9d9;
  width: 5px;
}
.headerSideR {
  background-color: #aec1d2;
  width: 5px;
}
/* The banner is WITHIN headerDiv.  It contains logo, quick search controls */
.banner {
  background: url(images/bg_hdr.gif);
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #aec1d2;
  height: 55px;
  width: 100%;
  float: top;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* for displaying line of links in top banner */
.bannerLogo {
  width: 200px;
  float: left;
  padding: 3px 0 3px 20px;
}
/* Image padding styles for JFAS logo and header txt - assigned inside the img tag*/
.logoJFAS {
  padding: 0px 8px 0px 8px;
}
.headerTxtJFAS {
  padding: 0px 8px 0px 8px;
}
#bannerRightofLogo {
  float: right;
  width: 400px;
  text-align: right;
  padding: 5px 5px 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #565656;
}
.bannerLogoutNav a {
  color: white;
  font-weight: bold;
}
.bannerLogoutNav a:hover {
  color: #565656;
  background-color: white;
}
/* Style for Quick Search */
.divQuickSearch {
  /* required to push quick search to right of primary navigation */
  float: right;
  width: 400px;
  vertical-align: top;
  text-align: right;
  padding: 5px 5px 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
}
.divQuickSearch a,
.divSearch a:visited {
  color: #000000;
  background-color: transparent;
}
.divQuickSearch input,
.divSearch select {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: normal;
  /* vertical-align: middle; */
  /* text-align: left; */
}
/************ Primary Nav styles *****************/
.PriNavDiv {
  height: 22px;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  width: 100%;
}
.PriNavDivForDetail {
  height: 22px;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  width: 762px;
}
.PriNavDivLeft {
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 90%;
}
.PriNavDivRight {
  float: right;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 8%;
  text-align: right;
}
/* Id tag used for PriNav ul tag */
#PriNav {
  margin: 0;
  padding: 0;
  width: 90%;
  float: left;
  text-align: left;
}
#PriNav ul {
  list-style-type: none;
}
#PriNav li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
  white-space: nowrap;
}
#PriNav a {
  text-decoration: none;
  float: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #939393;
  border-right: 1px solid #cbcbcb;
  line-height: 28px;
}
#PriNav a:hover {
  background-color: #565656;
}
#PriNav #current a {
  background-color: #565656;
  color: #FFFFFF;
  text-decoration: none;
}
/************ Primary Navigation Sub Menu (e.g. newAAPP dropdown Form) *****************/
/* this OVERLAYS the main table, NOT in the banner */
/* use nesting from less compiler */
.PriNavSubMenu {
  z-index: 20;
  /* position is based on navbar height excluding margin, devermined by inspecting properties of the navbar */
  position: absolute;
  top: 90px;
  height: 140px;
  width: 120px;
  overflow-y: none;
  float: left;
  background-color: #f7f7f7;
  padding: 0px 5px 5px 5px;
  border: 1px solid gray;
  visibility: hidden;
  /* use nesting from less compiler */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.PriNavSubMenu a {
  /* override bootstrap, for first line by carat to close form */
  color: #073053;
  text-decoration: none;
  font-weight: normal;
  background-color: #eeeeee;
}
.PriNavSubMenu a:hover {
  background-color: #d9d9d9;
}
.PriNavSubMenu ul {
  list-style-type: none;
  padding: 0 0 0 20px;
}
.PriNavSubMenu li {
  text-align: left;
  margin: 0;
}
.PriNavSubMenuTop {
  /* override bootstrap, for first line by carat to close form */
  color: #d7e0e9;
  font-weight: normal;
  text-decoration: none;
}
.inline-caret {
  display: inline;
}
#idMyAAPPs {
  margin-left: 306px;
  z-index: 30;
  height: 10px;
}
#idMyFilters {
  margin-left: 407px;
  height: 10px;
  width: 400px;
  z-index: 30;
}
#idNameOneFilter {
  margin-left: 407px;
  height: 110px;
  width: 400px;
  z-index: 30;
}
.filterTable {
  width: 100%;
}
#idNameOneFilterDuplicate {
  visibility: hidden;
}
#idNewAAPP {
  margin-left: 510px;
  z-index: 30;
  height: 50px;
}
.HomePageOptions {
  margin-left: 900px;
  z-index: 30;
  height: 75px;
  width: 200px;
}
.AAPPPageOptions {
  margin-left: 620px;
  z-index: 30;
  height: 25px;
  width: 180px;
}
.clear {
  clear: both;
}
fieldset {
  border: none;
  margin-bottom: -1.5em;
}
legend {
  margin-right: -0.4em;
}
#jfasHeaderTitle {
  z-index: 20;
  height: 30px;
  width: 100%;
  padding: 3px 0 3px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}
#filterAllTogether {
  width: 100%;
  z-index: 20;
}
#idFilterText {
  z-index: 20;
  height: 30px;
  width: 542px;
  top: 112px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: .9em;
  padding: 0;
  background: white;
  float: left;
  margin-left: 195px;
}
#idFilterText a {
  color: #d9d9d9;
  background-color: white;
}
#idFilterText a:visited {
  color: #d9d9d9;
  background-color: white;
}
.filterTextImg {
  padding-bottom: 2px;
  width: 18px;
  height: 18px;
}
.noFilterImg {
  border: 0;
  padding: 0;
  width: 25px;
  height: 25px;
}
.noFilterBtn {
  border: 0;
  margin: 0 6px 2px 4px;
  width: 23px;
  height: 20px;
}
.ColumnHeadings {
  z-index: 20;
  height: 20px;
  width: 542px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  float: left;
  clear: left;
  margin-left: 195px;
}
/********** Content Area Classes *************/
/* ctrContent does not apply to contract table */
.ctrContent {
  background-color: white;
  border-bottom: 3px solid #859db3;
  padding: 10px;
}
/* Heading classes */
/* H1 is always used for page header */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* H2 used for sub headings like on the Admin page or in the AAPP sub-nav structure */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* Futher Sub-heading used in AAPP sub-nav structure */
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 10px;
}
h1 a,
h2 a,
h3 a {
  color: #073053;
}
/* Class for required fields, alert messages, etc. - assign in p tag, div tag, td tag */
p.required,
div.required,
td.required {
  color: #8c1736;
}
/* Controls font attributes for all text in the content area that is NOT in a data table */
.ctrContent p,
.ctrContent div,
.ctrSubContent td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  color: #000000;
}
/* Class for info located directly under AAPP # in the h1 tag - assign class in p tag */
.contractInfo {
  margin-top: -7px;
}
.btnRight {
  margin-top: -30px;
  float: right;
  margin-bottom: 10px;
  text-align: right;
}
.btnLeft {
  margin-top: -30px;
  float: left;
  margin-bottom: -7px;
  text-align: left;
}
/* Classes form fields in the Content Area */
/*MDS added text area*/
.ctrContent input,
.ctrContent select,
.ctrContent textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: normal;
  vertical-align: middle;
}
.ctrContent label {
  font-weight: bold;
  color: #565656;
  background-color: transparent;
}
/* Classes for data displaying in a data table with Alternating Rows - assign overall class to table, no other style associations needed */
/* style for scolling area */
.ScrollingArea {
  top: 155px;
  left: 195px;
  position: absolute;
  width: 542px;
  margin-left: 0;
  overflow-y: none;
  /* adjustments are to override bootstrap */
}
/* use nesting from less compiler */
.dataTbl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  width: 100%;
  border: 0;
  cellspacing: 0;
  cellpadding: 0;
}
.dataTbl th {
  background-color: #5e84a6;
  color: #d7e0e9;
  font-weight: normal;
  text-align: left;
}
.dataTbl th a {
  color: #d7e0e9;
  background-color: transparent;
}
.dataTbl th a:visited {
  color: #d7e0e9;
  background-color: transparent;
}
.dataTbl td {
  background-color: #FFFFFF;
  /* padding: 6px 10px 6px 10px;*/
  text-align: left;
}
.dataTbl td a {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.dataTbl td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.dataTbl td.DataTitle {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: .8em;
  padding: 10px 10px 10px 30px;
  background: #d9d9d9;
}
.dataTbl td.DataTitle a {
  color: white;
  background-color: #d9d9d9;
}
.dataTbl td.DataTitle a:visited {
  color: white;
  background-color: #d9d9d9;
}
/* Class for alternating row color - assign in tr tag */
.AltRow td {
  background-color: #e7edf3;
}
.HighlightRow td {
  background-color: #FFFFCC;
}
/* Classes for data displaying in a data table with Alternating Columns - assign overall class to table, no other style associations needed */
.dataTblCol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
.dataTblCol th {
  background-color: #5e84a6;
  color: #d7e0e9;
  font-weight: bold;
  text-align: right;
  padding: 6px 3px 6px 3px;
}
.dataTblCol th a,
.dataTbl th a:visited {
  color: #d7e0e9;
  background-color: transparent;
}
.dataTblCol td {
  background-color: #FFFFFF;
  padding: 3px 3px 6px 3px;
  text-align: right;
}
.dataTblCol td a,
.dataTblCol td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.dataTblCol input {
  text-align: right;
  width: 68px;
}
/* Class for alternating row color - assign in tr tag */
td.AltCol {
  background-color: #e7edf3;
}
/* Class for creating a horizontal rule in a table - assign in td tag with colspan across all columns in table to create 1 cell */
/* changed by MDS - made line thinner */
td.hrule {
  background-image: url(images/clear.gif);
  background-color: #073053;
  background-repeat: repeat-x;
  height: 1px;
  padding: 0;
}
/* MDS added */
.inputReadonly {
  border: 1px solid #999999;
  background-color: transparent;
}
.inputEditable {
  border: 2px inset #ffffff;
  background-color: #ffffff;
}
/* RCR added */
.btnDisabled {
  color: #999999;
  background-color: #cccccc;
  border: 1px solid;
}
/* Classes for page numbers for data tables */
.ctrPageNum {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  font-weight: normal;
  color: #939393;
  background-color: transparent;
  padding-right: 10px;
  padding-left: 10px;
}
.ctrPageNum a {
  color: #939393;
  background-color: transparent;
}
/* Classes for formatting table, no row or column colors - assign overall class to table, no other style associations needed */
.contentTbl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
.contentTbl td {
  /*background-color: #FFFFFF;*/
  padding: 6px 3px 6px 3px;
}
.contentTbl td a,
.contentTbl td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
/* MDS added */
.contentTbl th {
  background-color: #5e84a6;
  color: #d7e0e9;
  font-weight: bold;
  text-align: center;
  padding: 6px 3px 6px 3px;
}
/* MDS changed */
.contentTbl input {
  /*text-align: right;
	width: 68px;*/
}
/* MDS added */
.contentTbl label {
  font-weight: normal;
  color: #000000;
  background-color: transparent;
}
/* Classes for formatting table, just labels and data, no form fields, columns */
.readOnlyDataTbl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
.readOnlyDataTbl td {
  padding: 3px 1px 3px 1px;
}
.readOnlyDataTbl td a,
.readOnlyDataTbl td a:visited {
  color: #073053;
  font-weight: bold;
  background-color: transparent;
}
.readOnlyDataTbl th {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  border-bottom: solid 1px #999999;
  padding: 3px 1px 1px 1px;
}
/* MDS ADDED - use for labels that should not appear on the page (eg: workload, contract input) */
.hiddenLabel {
  position: absolute;
  left: 0px;
  top: -100px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* MDS added */
.inputReadonly {
  border: 1px solid #999999;
  background-color: transparent;
}
/* MDS added */
td.hrule {
  background-image: url(images/clear.gif);
  background-color: #999999;
  background-repeat: repeat-x;
  height: 1px;
  padding: 0;
}
.errorList {
  background-color: #FFCCCC;
  border: 1px solid #668566;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  color: #000000;
  padding-left: 10px;
}
.errorField {
  background-color: #FFCCCC;
}
.confirmList {
  background-color: #CCFFCC;
  border: 1px solid #668566;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  color: #000000;
  padding-left: 10px;
}
/* Class for aligning a group of buttons to the right - assign in div tag */
.buttons {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0px;
}
/* Sub Navigation classes */
/* The sub navigation is constructed inside a table - this first container class is assigned in the tr tag for the row */
.ctrSubNav td {
  position: relative;
}
/* Id tag used for Sub Nav ul tag */
#SubNav {
  margin: 0;
  padding: 0;
}
/* All Sub Nav elements are in an li tag and are links - no other class assigning necessary */
#SubNav li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
  white-space: nowrap;
}
#SubNav a {
  text-decoration: none;
  float: left;
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #aec1d2;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  line-height: 28px;
}
#SubNav a:hover {
  color: #d7e0e9;
  background-color: #073053;
  border-bottom: 1px solid #073053;
}
#SubNav #current2 a {
  color: #d7e0e9;
  background-color: #073053;
  border-bottom: 1px solid #073053;
}
/* Third Level Navigation classes */
/* The third level navigation is constructed inside the same table as the secondary nav - this first container class is assigned in the tr tag for the row */
.ctrTerNav td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  font-weight: bold;
  color: #cbcbcb;
  padding: 6px 0 6px 80px;
  background-color: #073053;
  text-align: left;
  line-height: 16px;
}
/* the following classes assign the colors to the links - no additional class needed except to show the current state - assign that in the a tag */
.ctrTerNav a {
  color: #CBCBCB;
  background-color: #073053;
}
.ctrTerNav a:hover {
  color: #FFFFFF;
  background-color: #073053;
}
a.current {
  color: #FFFFFF;
  background-color: #073053;
}
/* Sub Navigation table classes */
div.ctrSubContent {
  border: 1px solid #073053;
  border-top: none;
  padding: 10px;
  font-size: 1em;
  position: relative;
}
div.ctrSubContent td,
div.ctrSubContent th {
  font-size: 1em;
}
/* Footer classes */
/* footer is in the scrolling area, but not in jfasDataDiv */
.homeFooter {
  float: left;
  height: 50px;
  width: 538px;
  margin-left: 0;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #859db3;
  background: #073053;
}
.FooterL {
  /* position:						relative; */
  width: 370px;
  padding-top: 4px;
  float: left;
}
.FooterR {
  text-align: right;
  /* margin-top:						-22px;*/
  margin-left: 370px;
}
.FooterL a,
.FooterL a:visited,
.FooterR a,
.FooterR a:visited {
  color: #859db3;
  font-weight: bold;
}
.FtrBtmL {
  background-image: url(images/cnr_btmL.gif);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  height: 4px;
  width: 100px;
}
.FtrBtmR {
  background-image: url(images/cnr_btmR.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  height: 4px;
  margin-top: -4px;
  margin-left: 100px;
}
/*
Styles for Tooltips
*/
#tt {
  position: absolute;
  display: block;
}
#ttcont {
  display: block;
  font: verdana;
  padding: 2px 12px 3px 7px;
  margin-left: 5px;
  color: #000000;
  border-style: solid;
  border-width: 1px;
  border-color: #FFCC99;
  background: #FFFFCC;
}
/*
The following classess for adhoc reports
sets color,  font and border for the intro table that describes the form, place in table tag
*/
.FormDesc {
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #666666;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
/* sets color,  font and border for the intro table that describes the ad hoc form, place in table tag  */
.adHocFormDesc {
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #666666;
  padding-bottom: 15px;
}
.formTable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #666666;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
/* sets new font size for header within form description table, place in h1 tag  */
.formDescH1 {
  font-size: 1.2em;
  line-height: normal;
  color: #003867;
}
.formDescH2 {
  font-size: 1.2em;
  line-height: .1em;
  color: #003867;
  font-weight: normal;
}
/* sets color and font for form wizard step number, place in td tag  */
.StepNumber {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #003867;
}
.formbutton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  padding: none;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  border-left-color: #ffffff;
  border-top-color: #ffffff;
}
.ValidationTable {
  background-color: #FFCCCC;
  color: #000000;
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
/* sets color,  font and border for Form tables, place in table tag  */
.FormTable_line {
  background-color: #e7edf3;
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #666666;
}
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #333333;
}
.criteriaCellDisplay {
  font-size: 1.0em;
}
/* sets color, padding, font and border for far column header for reports - place in th tag  */
.report_hdr {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  font-weight: normal;
  text-align: center;
  color: #000000;
  background-color: #cccccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}
/* sets color, padding, font and border forthe middle columns of text in the app/grant listings table, place in td tag  */
.report_datarow {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: left;
  color: #5B5B5B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  padding-right: 3px;
}
.report_datarow_right {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: right;
  color: #5B5B5B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  padding-right: 3px;
}
.report_datarow_brdrright {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: center;
  color: #5B5B5B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #cccccc;
  padding-right: 3px;
}
.report_totalrow {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  text-align: right;
  color: #5B5B5B;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  padding-right: 3px;
}
